html
    head
        //- bower:css
        link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
        //- endbower
        //- inject:css
        link(rel="stylesheet", href="/css/1-col-portfolio.css")
        //- endinject
        title My App
        
    body(class='myClass')
        h1(id='MyId') My App
        h3 sub heading
        ul
            each val in list
                li= val
                
        //- bower:js
        script(src='/lib/jquery/dist/jquery.js')
        script(src='/lib/bootstrap/dist/js/bootstrap.js')
        //- endbower
        
        //- inject:js
        //- endinject