<html>
    <head>
        <title><%=title%></title>
    </head>
    <body>
        <h1>
            <%=title%>
        </h1>
        <ul>
            <% for(var i = 0; i < list.lenght; i++){%>
                <li><%=list[i]%></li>
            <%}%>
        </ul>
    </body>
</html>